body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.popup-container {
  padding: 20px;
  box-sizing: border-box;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  color: #333;
  font-size: 20px;
}

.description {
  color: #666;
  font-size: 14px;
}

.trigger-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.trigger-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
  background-color: #c82333;
}

.trigger-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
